* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #202124;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  width: 652px;
  height: 360px;
}

input {
  border: 1px solid #818588;
  border-radius: 8px;
  box-sizing: border-box;
  color: #bdc1c6;
  background-color: transparent;
  width: 100%;
  font-size: 14px;
  height: 40px;
}
.output,
.input {
  display: flex;
  flex-direction: column;
  width: 300px;
}

textarea {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: #bdc1c6;
  resize: none;
  padding: 18px;
  height: 146px;
  outline: none;
  overflow: auto;
  font-size: 20px;
  margin-top: 10px;
}

.output textarea {
  background-color: #303134;
}

.select-drop-down input {
  padding: 5px 15px;
  font-size: 15px;
  color: #8ab4f8;
}

.select-drop-down .down-arrow svg {
  position: relative;
  left: 235px;
  bottom: 33px;
  width: 26px;
  height: 26px;
  fill: #8ab4f8;
}

.arrow-container {
  height: 40px;
  padding: 15px;
  margin: 0 4px;
  height: 14px;
  border-radius: 8px;
}

.arrow-container svg {
  position: relative;
  height: 26px;
  width: 26px;
  bottom: 8px;
  fill: lightgrey;
}

.button-container {
  margin: 0 4px;
  border-radius: 8px;
  color: #bdc1c6;
  padding: 15px;
  height: 14px;
  font-size: 20px;
}

.arrow-container:hover,
.button-container:hover {
  background-color: grey;
  cursor: pointer;
}

.options-list {
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 10px;
}

.search-bar input {
  background: url("https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png")
    right 8px center no-repeat;
  background-size: 20px 20px;
  padding-left: 16px;
  padding-right: 40px;
  width: 90% !important;
  outline: none;
}

.search-bar .close-button svg {
  width: 30px;
  height: 30px;
  fill: #5a5a5d;
  padding: 6px;
}

/* .search-icon svg {
  position: relative;
  width: 25px;
  height: 25px;
  top: 2px;
  left: -55px;
  bottom: -2px;
} */

.options-container {
  height: 250px;
  overflow: auto;
}

.options-container ul {
  list-style: none;
  display: flex;
  flex-flow: wrap column;
  max-height: 1420px;
  margin: 15px;
  padding: 0;
}

.options-container ul li {
  border: none;
  font-size: 14px;
  border-radius: 4px;
  font: inherit;
  color: #bdc1c6;
}

.options-container .list-item:hover {
  background-color: #5a5a5d;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.list-item .icon {
  padding: 0 8px;
  width: 11px;
  color: #8ab4f8;
}

.input .delete {
  position: relative;
  left: 265px;
  top: -185px;
  font-size: 50px;
  color: #bdc1c6;
  cursor: pointer;
}
